{% load staticfiles %}

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'bartmap/style.css' %}" />
  <script type="text/javascript" src="{% static 'bartmap/jquery-1.11.3.js' %}"></script>
  <script type="text/javascript" src="{% static 'bartmap/main.js' %}"></script>
</head>

<body>
  <div id="bartmap">
    <a class="station" id="richmond"></a>
    <a class="station" id="el-cerrito-del-norte"></a>
    <a class="station" id="el-cerrito-plaza"></a>
    <a class="station" id="north-berkeley"></a>
    <a class="station" id="downtown-berkeley"></a>
    <a class="station" id="ashby"></a>
    <a class="station" id="macarthur"></a>
    <a class="station" id="nineteenth-st-oakland"></a>
    <a class="station" id="twelfth-st-oakland"></a>
    <a class="station" id="west-oakland"></a>
    <a class="station" id="embarcadero"></a>
    <a class="station" id="montgomery-st"></a>
    <a class="station" id="powell-st"></a>
    <a class="station" id="civic-center"></a>
    <a class="station" id="sixteenth-st-mission"></a>
    <a class="station" id="twentyfourth-st-mission"></a>
    <a class="station" id="glen-park"></a>
    <a class="station" id="balboa-park"></a>
    <a class="station" id="daly-city"></a>
    <a class="station" id="colma"></a>
    <a class="station" id="south-san-francisco"></a>
    <a class="station" id="san-bruno"></a>
    <a class="station" id="millbrae"></a>
  </div>
</body>
