{% load staticfiles %}

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'bartmap/style.css' %}" />
  <script type="text/javascript" src="{% static 'bartmap/jquery-1.11.3.js' %}"></script>
  <script type="text/javascript" src="{% static 'bartmap/main.js' %}"></script>
</head>

<body>
  <div id="bartmap">
    <a class="station" id="richmond"></a>
    <div class="train-marker" id="rich-deln-0"></div>
    <div class="train-marker" id="rich-deln-1"></div>
    <div class="train-marker" id="rich-deln-2"></div>
    <div class="train-marker" id="rich-deln-3"></div>
    <a class="station" id="el-cerrito-del-norte"></a>
    <div class="train-marker" id="deln-plza-0"></div>
    <div class="train-marker" id="deln-plza-1"></div>
    <div class="train-marker" id="deln-plza-2"></div>
    <a class="station" id="el-cerrito-plaza"></a>
    <div class="train-marker" id="plza-nbrk-0"></div>
    <div class="train-marker" id="plza-nbrk-1"></div>
    <div class="train-marker" id="plza-nbrk-2"></div>
    <div class="train-marker" id="plza-nbrk-3"></div>
    <a class="station" id="north-berkeley"></a>
    <div class="train-marker" id="nbrk-dbrk-0"></div>
    <div class="train-marker" id="nbrk-dbrk-1"></div>
    <a class="station" id="downtown-berkeley"></a>
    <div class="train-marker" id="dbrk-ashb-0"></div>
    <div class="train-marker" id="dbrk-ashb-1"></div>
    <a class="station" id="ashby"></a>
    <div class="train-marker" id="ashb-mcar-0"></div>
    <div class="train-marker" id="ashb-mcar-1"></div>
    <div class="train-marker" id="ashb-mcar-2"></div>
    <a class="station" id="macarthur"></a>
    <div class="train-marker" id="mcar-19th-0"></div>
    <div class="train-marker" id="mcar-19th-1"></div>
    <div class="train-marker" id="mcar-19th-2"></div>
    <div class="train-marker" id="mcar-19th-3"></div>
    <a class="station" id="nineteenth-st-oakland"></a>
    <div class="train-marker" id="n19th-12th-0"></div>
    <div class="train-marker" id="n19th-12th-1"></div>
    <a class="station" id="twelfth-st-oakland"></a>
    <div class="train-marker" id="n12th-woak-0"></div>
    <div class="train-marker" id="n12th-woak-1"></div>
    <div class="train-marker" id="n12th-woak-2"></div>
    <div class="train-marker" id="n12th-woak-3"></div>
    <div class="train-marker" id="n12th-woak-4"></div>
    <a class="station" id="west-oakland"></a>
    <div class="train-marker" id="woak-embr-0"></div>
    <div class="train-marker" id="woak-embr-1"></div>
    <div class="train-marker" id="woak-embr-2"></div>
    <div class="train-marker" id="woak-embr-3"></div>
    <div class="train-marker" id="woak-embr-4"></div>
    <div class="train-marker" id="woak-embr-5"></div>
    <div class="train-marker" id="woak-embr-6"></div>
    <div class="train-marker" id="woak-embr-7"></div>
    <a class="station" id="embarcadero"></a>
    <div class="train-marker" id="embr-mont-0"></div>
    <div class="train-marker" id="embr-mont-1"></div>
    <a class="station" id="montgomery-st"></a>
    <div class="train-marker" id="mont-powl-0"></div>
    <div class="train-marker" id="mont-powl-1"></div>
    <a class="station" id="powell-st"></a>
    <div class="train-marker" id="powl-civc-0"></div>
    <div class="train-marker" id="powl-civc-1"></div>
    <a class="station" id="civic-center"></a>
    <div class="train-marker" id="civc-16th-0"></div>
    <div class="train-marker" id="civc-16th-1"></div>
    <a class="station" id="sixteenth-st-mission"></a>
    <div class="train-marker" id="n16th-24th-0"></div>
    <div class="train-marker" id="n16th-24th-1"></div>
    <a class="station" id="twentyfourth-st-mission"></a>
    <div class="train-marker" id="n24th-glen-0"></div>
    <div class="train-marker" id="n24th-glen-1"></div>
    <div class="train-marker" id="n24th-glen-2"></div>
    <a class="station" id="glen-park"></a>
    <div class="train-marker" id="glen-balb-0"></div>
    <div class="train-marker" id="glen-balb-1"></div>
    <a class="station" id="balboa-park"></a>
    <div class="train-marker" id="balb-daly-0"></div>
    <div class="train-marker" id="balb-daly-1"></div>
    <div class="train-marker" id="balb-daly-2"></div>
    <div class="train-marker" id="balb-daly-3"></div>
    <a class="station" id="daly-city"></a>
    <div class="train-marker" id="daly-colm-0"></div>
    <div class="train-marker" id="daly-colm-1"></div>
    <div class="train-marker" id="daly-colm-2"></div>
    <div class="train-marker" id="daly-colm-3"></div>
    <a class="station" id="colma"></a>
    <div class="train-marker" id="colm-ssan-0"></div>
    <div class="train-marker" id="colm-ssan-1"></div>
    <div class="train-marker" id="colm-ssan-2"></div>
    <a class="station" id="south-san-francisco"></a>
    <div class="train-marker" id="ssan-sbrn-0"></div>
    <div class="train-marker" id="ssan-sbrn-1"></div>
    <div class="train-marker" id="ssan-sbrn-2"></div>
    <div class="train-marker" id="ssan-sbrn-3"></div>
    <a class="station" id="san-bruno"></a>
    <div class="train-marker" id="sbrn-mlbr-0"></div>
    <div class="train-marker" id="sbrn-mlbr-1"></div>
    <div class="train-marker" id="sbrn-mlbr-2"></div>
    <div class="train-marker" id="sbrn-mlbr-3"></div>
    <div class="train-marker" id="sbrn-mlbr-4"></div>
    <div class="train-marker" id="sbrn-mlbr-5"></div>
    <div class="train-marker" id="sbrn-mlbr-6"></div>
    <a class="station" id="millbrae"></a>
  </div>
</body>
